:root {
  --ls_red_lt: #f37e80;
  --ls_red: #f20505;
  --ls_red_drk: #bf0404;
  --ls_red_drker: #990000;
  --ls_red_drkest: #4a1a06;

  --ls_orn_lt: #ffe874;
  --ls_orn: #ffbd30;
  --ls_orn_drk: #f29a04;
  --ls_orn_drker: #e47902;
  --ls_orn_drkest: #593d02;

  --ls_yel_lt: #fcfac0;
  --ls_yel: #feeb35;
  --ls_yel_drk: #e0cc18;

  --ls_grn_lt: #aef29a;
  --ls_grn: #5ad105;
  --ls_grn_drk: #38ac2a;
  --ls_grn_drker: #2b8523;
  --ls_grn_drkest: #356c23;
  --ls_grn_max: #224e0e;

  --ls_blu_lt: #9bdaf2;
  --ls_blu: #0585db;
  --ls_blu_drk: #034aa6;
  --ls_blu_drker: #0d3973;

  --ls_vio_lt: #cdc0f6;
  --ls_vio: #a27df3;
  --ls_vio_drk: #8040e0;
  --ls_vio_drker: #5a37a6;
  --ls_vio_drkest: #42378c;

  --ls_wht: #ffffff;
  --ls_gry_lt: #e6e6e6;
  --ls_gry: #b3b3b3;
  --ls_gry_drk: #808080;
  --ls_gry_drker: #333333;
  --ls_blu_drk: #000000;
}
